* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  max-width: 100%;
  height: auto;
  background-color: aquamarine;
  z-index: 1;
  padding: 5px;
}

main {
  max-width: 100%;
  height: auto;
  background-color: cornflowerblue;
  padding-top: 20px;

}

footer {
  max-width: 100%;
  height: 500px;
  background-color: black;

}


/* layout */

.col-30 {
  width: calc(90% / 3);
  height: 100px;
  margin: 0 auto;
}

.bg-orange {
  background-color: orange;
}

.border-black {
  border: 2px solid black;
}

.row {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.jumbo {
  background-color: indianred;
  max-width: 100%;
  height: 400px;
  margin: 0 auto;
}

.business-plan {
  background-color: rgb(166, 137, 137);
  max-width: 100%;
  height: 400px;
  margin: 0 auto;
}

.container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  padding-top: 20px;
}

.col-50 {
  width: 50%;
  height: 300px;

}

.title {
  padding-top: 10px;
  text-align: center;
}


.col-bus {
  width: 200px;
  height: 300px;

}

header .row {
  flex-wrap: wrap;
}

.title h2 {
  padding-bottom: 30px;
}

.partner-box {
  width: 100%;
  background-color: darkseagreen;
  height: auto;
  margin: 0 auto;
  padding-bottom: 30px;
}

